{% extends 'org_base.html' %}
{% load staticfiles %}
<li>{% block page_path %}机构介绍{% endblock %}</li>
{% block custom_title %}BOL杰在线学习网{% endblock %}

{% block right_form %}
    <div class="right companycenter layout" >
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">

            <p><p>&nbsp;{{ course_org.desc }} &nbsp;</p><h1 class="ue_t" label="Title center" name="tc" style="border-bottom-color:#cccccc;border-bottom-width:2px;border-bottom-style:solid;padding:0px 4px 0px 0px;text-align:center;margin:0px 0px 20px;"></h1></p>

        </div>
    </div>
{% endblock %}


